/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    padding: 10px 20px 30px;
    padding: 10px;
    margin: 300px auto;
    border-radius: 30px;
    box-shadow: inset; */

/* } */
body{
    margin: 50px 0 25px 50px;
}

.wrapper{
    /* width: 200px; */
    margin-top: 20px;
    border-left: dashed;
    padding: 0px 15px;
    display: inline-block;
}

.wrapper2{
    margin-top: 20px;
    border-left: dashed;
    padding: 0 15px;
    display: inline-block;
}

.img{
    width: 512px;
    height: 512px;
    
    background-image: url(../images/man+person+profile+user+worker+icon-1320190557331309792.png);
}

.image-box{
    margin: 20px 0 0 20px;
    border-radius: 2px solid red;
    background-repeat: no-repeat;
    background-size: cover;
}


.aqua{
    color:aqua;
}
